*{
    margin: 0;
    padding: 0;
}

body {background: black;}
canvas {display:block;}

div {
    background-color: transparent !important;
    height: 100%;
}

canvas {
    z-index: -1;
    position: absolute;
    top: 0;
}
body {
    overflow: hidden;
}
